*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    box-sizing: border-box;
}
/* HEADER-START */
.header {
    margin: px  auto;
    display: flex;
    justify-content: space-between;
    color:#95E1D3;
    width: 100%;
    background-color: #1d1c1c;
    display: flex;
    align-items: center;
    height: 100px;
    padding: 0px 70px;
    animation: he-ad 2s linear alternate;
}
@keyframes he-ad{
    0%{

    }
    100%{
        transform: scaleY(1.2);
    }
}
.MoGo {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
}
.nav {
}
.header__nav-menu {
    display: flex;
    align-items: center;
}
.nav__ul {
    margin:0 55px 0 5px;
    position: relative;
    color: #95E1D3;
    font-family: 'Montserrat';
    transition: 0.4s;
}
.header__nav-menu a{
    text-decoration: none;
}
.nav__ul::after{
    content:'';
    width: 0%;
    position: absolute;
    height: 3px;
    background-color: #F38181;
    bottom: -10px;
    left: 0;
    transition: 0.4s;
}
.nav__ul:hover::after{
    width: 100%;
}
.nav__ul:hover{
    color: #F38181;
}
/* HEADER-END */
.info-blok {
    width: 275px;
    height: 136px;
    margin: 68px auto;
    text-align: center;
}
.info-blok__text_1 {
    font-family: 'Kaushan Script';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #333333;
    margin-bottom:20px;
}
.info-blok__text_2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    font-variant: all-small-caps;
    color: #333333;
    margin-bottom: 40px;
}
.info-blok__element {
    width: 60px;
    height: 4px;
    background-color: #F38181;
    animation-name: info-blok__element;
    animation:info-blok__element 4s cubic-bezier(0.39, 0.575, 0.565, 1) infinite alternate-reverse;
    margin: 0 auto;
}
@keyframes info-blok__element{
    0%{
        transform: translateX(-100px);
    }
    50%{
        background-color: #763f3f;
    }
    100%{
        transform: translateX(100px);
    }
}
.benefits {
    width: 1168px;
    height: 253px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.item_1 {
    display: flex;
    width: 327px;
    height: 90px;
    margin-bottom:100px ;
    background-color: #533030;
    padding: 5px;
    border-radius: 5px;
}
.photo {
    animation: fotochki 2s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;
}
@keyframes fotochki{
    0%{
        transform: translateY(-5px);
    }
    100%{
        transform: translateY(50px);
    }
}
.item-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    font-variant: small-caps;
    color: #333333;
    animation: photoghraph 2s linear alternate infinite;
}
@keyframes photoghraph{
    0%{
        transform: translateX(5px);color: #393838;
    }
    50%{
        transform:  translateX(1px); color: #908c8c;
    }
    100%{
        transform: translateX(2px);color: #ffffff;
    }
}
.item-info {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #B6B6B6;
}
.item-tittle {
    margin-left: 20px;
}
.item_2 {
    display: flex;
    width: 330px;
    height: 90px;
    margin-bottom:100px ;
    background-color: #533030;
    padding: 5px;
    border-radius: 5px;
}
.item_3 {
    display: flex;
    width: 367px;
    height: 90px;
    margin-bottom:100px ;
    background-color: #533030;
    padding: 5px;
    border-radius: 5px;
}
.item_4 {
    display: flex;
    width: 327px;
    height: 90px;
    background-color: #533030;
    padding: 3px;
    border-radius: 5px;
}
.item_5 {
    display: flex;
    width: 327px;
    height: 90px;
    background-color: #533030;
    padding: 5px;
    border-radius: 5px;
}
.item_6 {
    display: flex;
    width: 327px;
    height: 90px;
    background-color: #533030;
    padding: 5px;
    border-radius: 10px;
}
.second-info-blok__text {
    font-family: 'Kaushan Script';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #333333;
    margin-bottom:20px;
}
.second-info-blok__text-2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    font-variant: all-small-caps;
    color: #333333;
    margin-bottom: 40px;
}
.second-info-blok__element {
    width: 60px;
    height: 4px;
    background-color: #F38181;
    margin: 0 auto;
}
.second-info-blok {
    width: 275px;
    height: 136px;
    margin: 68px auto;
    text-align: center;
}
.text {
    text-align: center;
    color: #B6B6B6;
}
.men {
    width: 1210px;
    margin-bottom: 60px;
}
.first__men {
}
.second__men {
    margin-left: 10px;
    margin-right: 10px;
}
.third__men {
}
.men-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 17px;
    text-align: center;
    font-variant: all-small-caps;
    color: #333333;
    margin-top: 15px;
    margin-bottom: 5px;
}
.men-info {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #B6B6B6;
    margin-bottom: 100px;
}
.first-men {
    cursor: pointer;
}
.element {
    width: 1210px;
    border: 1px solid #000;
    margin-bottom: 30px;
}
.footer__info {
    width: 1210px;
    display: flex;
    justify-content: space-between;
}
.footer__info-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #333333;
    margin-top: 20px;
}
.e-meil {
    color: #000;
    width: 230px;
    height: 40px;
    border: 1px solid #B6B6B6;
}
.buton {
    width: 150px;
    height: 40px;
    background-color: #95E1D3;
    padding: 15px 40px;
}
.span{
    color: #F38181;
}
.footer__emeil {
    display: flex;
}
.buton__text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    font-variant: all-small-caps;
    color: #FFFFFF;
}
.element__foto { 
    width: 380px;
    height: 470px;
}
body{
    animation: tilo 4s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite alternate;
}
@keyframes tilo{
    0%{
        background-color:#FFFF;
    }
    35%{
        background-color: rgb(151, 186, 186);
    }
    65%{
        background-color: #97eabf;
    }
    100%{
        background-color: #7bb195;
    }
}