*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    box-sizing: border-box;
}
/* HEADER-START */
.header {
    max-width: 1200px;
    margin: 17px  auto;
    display: flex;
    justify-content: space-between;
    color:#95E1D3;
}
.MoGo {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
}
.nav {
}
.header__nav-menu {
    display: flex;
    align-items: center;
}
.nav__ul {
    margin:0 55px 0 5px;
    position: relative;
    color: #95E1D3;
    font-family: 'Montserrat';
    transition: 0.4s;
}
.header__nav-menu a{
    text-decoration: none;
}
.nav__ul::after{
    content:'';
    width: 0%;
    position: absolute;
    height: 3px;
    background-color: #F38181;
    bottom: -10px;
    left: 0;
    transition: 0.4s;
}
.nav__ul:hover::after{
    width: 100%;
}
.nav__ul:hover{
    color: #F38181;
}
/* HEADER-END */
.info-blok {
    width: 275px;
    height: 136px;
    margin: 68px auto;
    text-align: center;
}
.info-blok__text_1 {
    font-family: 'Kaushan Script';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #333333;
    margin-bottom:20px;
}
.info-blok__text_2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    font-variant: all-small-caps;
    color: #333333;
    margin-bottom: 40px;
}
.info-blok__element {
    width: 60px;
    height: 4px;
    background-color: #F38181;
    margin: 0 auto;
}
.benefits {
    width: 1168px;
    height: 253px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.item_1 {
    display: flex;
    width: 327px;
    height: 74px;
    margin-bottom:100px ;
}
.photo {
}
.item-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    font-variant: small-caps;
    color: #333333;
}
.item-info {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #B6B6B6;
}
.item-tittle {
    margin-left: 20px;
}
.item_2 {
    display: flex;
    width: 330px;
    height: 74px;
    margin-bottom:100px ;
}
.item_3 {
    display: flex;
    width: 367px;
    height: 74px;
    margin-bottom:100px ;
}
.item_4 {
    display: flex;
    width: 327px;
    height: 74px;
}
.item_5 {
    display: flex;
    width: 327px;
    height: 74px;
}
.item_6 {
    display: flex;
    width: 327px;
    height: 74px;
}
.second-info-blok__text {
    font-family: 'Kaushan Script';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #333333;
    margin-bottom:20px;
}
.second-info-blok__text-2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    font-variant: all-small-caps;
    color: #333333;
    margin-bottom: 40px;
}
.second-info-blok__element {
    width: 60px;
    height: 4px;
    background-color: #F38181;
    margin: 0 auto;
}
.second-info-blok {
    width: 275px;
    height: 136px;
    margin: 68px auto;
    text-align: center;
}
.text {
    text-align: center;
    color: #B6B6B6;
}
.men {
    width: 1210px;
}
.first__men {
}
.second__men {
    margin-left: 10px;
    margin-right: 10px;
}
.third__men {
}
.men-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 17px;
    text-align: center;
    font-variant: all-small-caps;
    color: #333333;
    margin-top: 15px;
    margin-bottom: 5px;
}
.men-info {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #B6B6B6;
}
.first__men {
}
.first__men:hover{

}